<app-navbar-welcome></app-navbar-welcome>

<section class="section-contact">

  <div class="container">

    <div class="welcome">

      <h1><span><span>ERROR 404</span> Page Not found</span>. Make a question or resquest a service by filling the form below.</h1>



    </div>

    <div class="image">

      <img src="https://cdn-icons-png.flaticon.com/512/5075/5075630.png"  alt="" srcset="">
      <span><i class="fa-solid fa-envelope fa-4xs"></i> iledmd3@gmail.com</span>
      <span><i class="fa-solid fa-phone-volume fa-4xs"></i> +351 933 443 506</span>
      <span><i class="fa-solid fa-phone-volume fa-4xs"></i> +351 933 443 506</span>

    </div>

  </div>

</section>

<app-footer></app-footer>


