
.title{
  background: #ffffff;
  color: rgb(20, 20, 20);
  margin-bottom: 0%;
  display: flex;
}

.title .mat-icon{

  color: #f72929;
}

.title span{
  margin-left: 3%;
}

.content{
  margin-top: 0%;
  padding: .1rem 2rem;
  background: #ffffff;
  color: rgb(20, 20, 20);
}

.content .message {
  padding: .3rem .7rem;
  margin: 1;
  border-radius: .4rem;
  background: rgba(231, 106, 106, 0.26);
  color: #f72929;
}

.footer{
  background: #ffffff;
  color: rgb(20, 20, 20);
}

mat-card {
  background: #ffffff;
  color: rgb(20, 20, 20);
}

mat-card button{
  margin-right: 8px;
  color: #ffffff;
  background: #f72929;
  border: #242424 1px solid;
}
