
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Dosis:wght@200;300;700;800&family=Fredericka+the+Great&family=Nunito:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Public+Sans:ital,wght@1,100;1,200;1,800;1,900&family=Rubik+Moonrocks&family=Tektur:wght@400;600;800;900&display=swap');


$menuBreakpoint1:1280px;
$menuBreakpoint2:1243px;
$menuBreakpoint3:1024px;
$menuBreakpoint4: 912px;
$menuBreakpoint5:820px;
$menuBreakpoint6:768px;
$menuBreakpoint7:540px;
$menuBreakpoint8:414px;
$menuBreakpoint9:412px;
$menuBreakpoint10:393px;
$menuBreakpoint11:390px;
$menuBreakpoint12:375px;
$menuBreakpoint13:360px;
$menuBreakpoint14:280px;
$technologyImage: "";


:root{
  --white: #FFF;
  --background-button: #26a0a0;
  --backgroung-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(1, 75, 90) 100%);
}

input{
  outline: none;
}

a{
  text-decoration: none;
}

/* ------------ Header */

  .sidebar-section{
    padding: .3rem .8rem;
    position: fixed;
    width: 15%;
    border-radius: 0 2rem 2rem 0;
    background-color: rgb(25, 31, 66);
    box-shadow: 0 1px 7px rgba(0, 0, 0, .23);
    margin-top: 12%;

    .container{
      align-items: center;
      text-align: center;
      background-color: transparent;

      .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        background-color: transparent;

        button{
          width: 80%;
          padding: .3rem 1rem;
          margin-bottom: 1%;
          background-color: #0F132A;
          color: #FFF;
          font-size: .8rem;
          box-shadow: 0 1px 7px rgba(0, 0, 0, .23);
          cursor: pointer;
        }
      }
    }
  }

  .sidebar-section .container .menu button:hover{
    border-radius: 1rem;
    font-size: .9rem;
    margin-left: 1%;
    transition: all .2s linear;
  }

 /* ------- Services section start css --------- */

 @keyframes card_animation {
  10% { background-color: rgb(14, 169, 180); border-radius: .7rem 0 1.5rem 0; transition: all .2s ease;}
  40% { background-color: rgb(6, 216, 181); border-radius: 2rem 0 3rem 0; transition: all .2s ease;}
  100% { background-color: rgb(32, 116, 243); border-radius: .5rem 0 1rem 0; transition: all .2s ease;}
}

.form-section{
  padding: 3rem 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4%;
  background: rgb(2,0,36);


  .box-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;


    .form{
      width: 60%;

      form{
        padding: .5rem 1rem;
        display: flex;
        position: static;
        flex-wrap: wrap;
        border-radius: .1rem;
        background-color: transparent;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.33);

        .input-key-word,
        .input-city{

          padding: .7rem .2rem;
          background-color: #dbdbdd;
          border: 1px solid #FFF;

          input{
            padding: .3rem .2rem;
            background-color: transparent;
            color: #000;
            font-size: 1rem;
            margin-left: 2%;
            border: none;
          }

          i{
            margin-left: 0;
            color: #8b8b8b;
            font-size: 1.4rem;
          }

        }

        .input-key-word{
          width: 47%;

          input{
            width: 88%;
            margin-left: 1%;
            border: none;
          }

          .autocomplete-category{
            width: 27%;
            display: flex;
            flex-direction: column;
            max-height: 300px;
            padding: 1rem .5rem;
            position: fixed;
            background-color: #ececec;
            overflow: scroll;
            transition: all .3s ease;

            span{
              cursor: pointer;
            }

          }
        }

        .input-city{
          width: 30%;

          input{
            width: 88%;
            outline: none;
          }

          .autocomplete-city{
            width: 17%;
            display: flex;
            flex-direction: column;
            max-height: 300px;
            padding: 1rem .5rem;
            position: fixed;
            background-color: #ececec;
            overflow: scroll;
            transition: all .3s ease;

            span{
              cursor: pointer;
            }
          }
        }

        .buttons{

          padding: .7rem .2rem;
          background-color: #09a1dd;
          border-radius: 0 2rem 2rem 0;

          button{
            width: 200px;
            border: none;
            color: #f1f1f1;
            font-size: 1.1rem;
            font-weight: 600;
            background-color: transparent;
            margin-top: 2%;
            cursor: pointer;
          }
        }
      }

    }
  }
}

.jobs-found-section{
  position: fixed;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: transparent;

  .container{
    width: 50%;
    padding: 1rem .6rem;

    background-color: #FFF;

    .job-detail{
      width: 100%;
      background-color: #ececec;
      border-left: 1px solid #727272;

      .title{
        padding: .6rem .4rem;
        display: flex;
        flex-direction: column;
        background: #ececec;
        color: #333;
        border: 0;
        text-align: left;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 1.0);

        h1{
          font-size: 1.4rem;
          font-weight: 600;
          color: #000;
          background-color: transparent;
        }

        #comany{
          text-decoration: underline;
        }

        button{
          padding: .7rem .2rem;
          background-color: #09a1dd;
          border-radius: 0 2rem 2rem 0;
          width: 200px;
          color: #f1f1f1;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          box-shadow: 0 1px 7px rgba(0, 0, 0, .23);

        }

      }

      .job-informations{
        max-height: 930px;
        padding: .2rem .7rem;
        overflow: scroll;
        background-color: #e0e0e0;
        text-align: left;


        h2, h3{
          background-color: transparent;
          font-size: 1.3rem;
          font-weight: 600;
        }

        h3{
          color: #4b4b4b;
          font-size: 1.1rem;
        }

        .small-items{
          padding: .3rem .5rem;
          display: flex;
          width: 90%;
          flex-direction: column;
          background-color: transparent;
          margin-left: 3%;
          margin-bottom: 1%;

          h3{
            background-color: transparent;
          }

          div{
            display: flex;
            background-color: transparent;

            span{
              padding: .2rem .9rem;
              border: 1px solid #b4b4b4;
              width: 180px;
              border-radius: 2rem;
              color: #FFF;
              background-color: rgb(14, 180, 89);
              font-size: .9rem;
              margin-left: .7%;
            }
          }


        }

        #jobs-tasks{
          background-color: transparent;
          margin-left: 2%;

          strong{
            background-color: transparent;
            font-size: 1.1rem;
          }

          .url{
            padding: .5rem .5rem;
            background-color: #09a1dd;
            border-radius: 2rem;
            width: 200px;
            color: #f1f1f1;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 4%;
          }
        }

        .apply-button{
          width: 100%;
          padding: .4rem 0;
          background-color: transparent;
          margin-top: 5%;
          margin-bottom: 5%;
          text-align: center;

          button{
            padding: .7rem .2rem;
            background-color: #09a1dd;
            border-radius: 2rem;
            width: 200px;
            color: #f1f1f1;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 1px 7px rgba(0, 0, 0, .23);

          }
        }

      }
    }

  }

}

article{
  background: #020024;

}

.jobs-section{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(45deg, #020024 25%, transparent 25%), linear-gradient(-45deg, #1d1d1d 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #020024 75%), linear-gradient(-45deg, transparent 75%, #020024 75%);
  background-size: 5px 5px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  .box-card{
    width: 70%;
    display: flex;
    position: static;
    flex-wrap: wrap;
    //border: 3px solid #d3d3d3;
    background-color: transparent;


    .latest-jobs{
      padding: .3rem .7rem;
      display: block;
      width: 30%;
      height: 1000px;
      margin-bottom: 2%;
      border-radius: .4rem;
      background-color: transparent;
      text-align: center;
      align-items: center;
      justify-content: center;

      .header{
        width: 98%;
        background-color: #fff;
        border-bottom: 1px solid #9e9e9e;

        h2{
          font-size: 1rem;
          color: #1f1f1f;
          background-color: transparent;
        }
      }

      .box{
        padding: .4rem 1rem;
        display: block;
        flex-direction: column;
        width: 90%;
        height: 1000px;
        overflow: scroll;
        border: 0;
        background-color: #ececec;

        h1, .title, .card-content, .periods{
          background-color: transparent;
        }

        .card{
          padding: .5rem .2rem;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          border: 0;
          background-color: #dddddd;
          cursor: pointer;

          .title{
            display: flex;
            width: 100%;

            h1{
              width: 90%;
              flex-direction: column;
              margin-left: 2%;
              font-size: 1rem;
              font-weight: 500;
              color: #181818;
            }

            i{
              font-size: 1.1rem;
            }
          }

          .card-content{
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            text-align: left;

            .periods{
              padding: .3rem .5rem;
              display: flex;
              flex-wrap: wrap;

              span{
                padding: .2rem .9rem;
                border: 1px solid #b4b4b4;
                border-radius: 2rem;
                color: #FFF;
                background-color: rgb(14, 180, 89);
                font-size: .7rem;
                margin-left: .7%;
              }
            }
          }

        }


        .card:hover{
          box-shadow: 0 1px 7px rgba(0, 0, 0, .23);
          background-color: rgba(77, 91, 167, 0.23);
          transition: all .3s linear;
        }


      }



    }

    .job-detail{
      width: 60%;
      background-color: #ececec;
      border-left: 1px solid #727272;

      .title{
        padding: .6rem .4rem;
        display: flex;
        flex-direction: column;
        background: #ececec;
        color: #333;
        border: 0;
        text-align: left;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 1.0);

        h1{
          font-size: 1.4rem;
          font-weight: 600;
          color: #000;
          background-color: transparent;
        }

        #comany{
          text-decoration: underline;
        }

        button{
          padding: .7rem .2rem;
          background-color: #09a1dd;
          border-radius: 0 2rem 2rem 0;
          width: 200px;
          color: #f1f1f1;
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          box-shadow: 0 1px 7px rgba(0, 0, 0, .23);

        }

      }

      .job-informations{
        height: 900px;
        padding: .2rem .7rem;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        background-color: #e0e0e0;
        text-align: left;


        h2, h3{
          background-color: transparent;
          font-size: 1.3rem;
          font-weight: 600;
        }

        h3{
          color: #4b4b4b;
          font-size: 1.1rem;
        }

        .small-items{
          padding: .3rem .5rem;
          display: flex;
          width: 90%;
          flex-direction: column;
          background-color: transparent;
          margin-left: 3%;
          margin-bottom: 1%;

          h3{
            background-color: transparent;
          }

          div{
            display: flex;
            background-color: transparent;

            span{
              padding: .2rem .9rem;
              border: 1px solid #b4b4b4;
              width: 180px;
              border-radius: 2rem;
              color: #FFF;
              background-color: rgb(14, 180, 89);
              font-size: .9rem;
              margin-left: .7%;
            }
          }


        }

        #jobs-tasks{
          background-color: transparent;
          margin-left: 2%;

          strong{
            background-color: transparent;
            font-size: 1.1rem;
          }

          .url{
            padding: .5rem .5rem;
            background-color: #09a1dd;
            border-radius: 2rem;
            width: 200px;
            color: #f1f1f1;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 4%;
          }
        }

        .apply-button{
          width: 100%;
          padding: .4rem 0;
          background-color: transparent;
          margin-top: 5%;
          margin-bottom: 5%;
          text-align: center;

          button{
            padding: .7rem .2rem;
            background-color: #09a1dd;
            border-radius: 2rem;
            width: 200px;
            color: #f1f1f1;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 1px 7px rgba(0, 0, 0, .23);

          }
        }

      }
    }
  }
}

.box::-webkit-scrollbar,
.job-informations::-webkit-scrollbar{
  width: .5rem;
}

.box::-webkit-scrollbar-track,
.job-informations::-webkit-scrollbar-track{
  background-color: #08225a;
}

.box::-webkit-scrollbar-thumb,
.job-informations::-webkit-scrollbar-thumb{
  background-color: #f3f3f3;
}

.box, .item-top,
.item-bottom, span,
p, i {
  background-color: transparent;
}




.website-service-section{
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position:static;
  top: 0;
  transition: all .5s ease;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #020024;

  //background: url("../../../assets/img/wallpaperflare.com_wallpaper-_1_.webp");

  .container{
    padding: 2rem 1rem;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, #02123b 25%, transparent 25%), linear-gradient(-45deg, #272727 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #0f0a58 75%), linear-gradient(-45deg, transparent 75%, #0f0a58 75%);
  background-size: 15px 15px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    //background: linear-gradient(90deg, rgb(16, 16, 22) 0%, rgb(18, 18, 32) 35%, transparent 100%);
    margin-top: 5%;

    .details{
      padding: 1rem .4rem;
      max-width: 70%;
      color: #FFF;
      background-color: transparent;
      border: 2px dotted #222222;

      h2{
        font-size: 2rem;
        background-color: transparent;

        span{
          background-color: transparent;
          color: #ec5e0c;
          font-size: 2rem;
        }
      }

      span{
        font-size: 1.4rem;
        color: #c9c9c9;
      }

      p{
        font-size: 1rem;
        color: #c9c9c9;
      }
    }

    .button{
      width: 30%;
      text-align: center;
      background-color: transparent;

      .btn-request{
        padding: 1rem 2rem;
        background-color: #26a0a0;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(1, 75, 90) 100%);
        color: #FFF;
        box-shadow: 0 1px 7px rgba(0, 0, 0, .23);
        cursor: pointer;
        font-size: 1rem;
      }

    }

  }


}

.website-service-section .container .button .btn-request:hover{
margin-top: 9%;
font-size: 1.2rem;
}



/* ------------------   Reponsive CSS
*/

/* --------------- Menu Breakpoint of 1280px ---------------------*/
@media screen and (max-width: $menuBreakpoint1) {


  /* ------------ Header */

   .form-section .box-card .form form .input-key-word{
    width: 40%;
   }

}

/* --------------- Menu Breakpoint of 1243px ---------------------*/
@media screen and (max-width: $menuBreakpoint2) {

  .form-section .box-card .form{
    width: 80%;
  }

  .form-section .box-card .form form .input-key-word{
    width: 40%;
  }


}

/* --------------- Menu Breakpoint of 1024px ---------------------*/
@media screen and (max-width: $menuBreakpoint3) {

  .form-section .box-card .form{
    width: 80%;
  }

  .form-section .box-card .form form .input-key-word{
    width: 40%;
  }

  .latest-jobs .box .card .card-content .periods{
    width: 100%;

    #period{
      font-size: .5rem;
    }

  }

}


/* --------------- Menu Breakpoint of 912px ---------------------*/
@media screen and (max-width: $menuBreakpoint4) {

  .sidebar-section{
    width: 32%;
    margin-top: 24%;

    .container{

      .menu{
        button{
          font-size: 1.4rem;
        }
      }
    }
  }

  .form-section{

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1.4rem;
            input{
              font-size: 1.5rem;
            }
          }

          .input-city{
            font-size: 1.4rem;
            input{
              font-size: 1.5rem;
            }
          }

          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }


  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.4rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.5rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1.2rem;
              }

              .periods{

                #period{
                  font-size: 1.4rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.7rem;
          }

          span{
            font-size: 1.5rem;
            margin: 1%;
          }

          button{
            font-size: 1.5rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.5rem;
          }

          h3{
            font-size: 1.4rem;
          }

          p{
            font-size: 1.4rem;
          }


          .small-items{

            div{
              span{
                width: 240px;
                font-size: 1.4rem;
              }
            }
          }

          div{
            p{

            }
          }

          .apply-button{
            margin-bottom: 40%;
          }
        }
      }
    }
  }


}


/* --------------- Menu Breakpoint of 820px ---------------------*/
@media screen and (max-width: $menuBreakpoint5) {


  .sidebar-section{
    width: 30%;
    margin-top: 28%;

    .container{

      .menu{
        button{
          font-size: 1.2rem;
        }
      }
    }
  }


  .form-section{

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.4rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.5rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1.2rem;
              }

              .periods{

                #period{
                  font-size: 1.4rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.7rem;
          }

          span{
            font-size: 1.5rem;
            margin: 1%;
          }

          button{
            font-size: 1.5rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.5rem;
          }

          h3{
            font-size: 1.4rem;
          }

          p{
            font-size: 1.3rem;
          }


          .small-items{

            div{
              span{
                width: 240px;
                font-size: 1.4rem;
              }
            }
          }

          div{
            p{

            }
          }

          .apply-button{
            margin-bottom: 40%;
          }
        }
      }
    }
  }


}

/* --------------- Menu Breakpoint of 768px ---------------------*/
@media screen and (max-width: $menuBreakpoint6) {

  .sidebar-section{
    width: 30%;
    margin-top: 28%;

    .container{

      .menu{
        button{
          font-size: 1rem;
        }
      }
    }
  }


  .form-section{

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.4rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.5rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1.2rem;
              }

              .periods{

                #period{
                  font-size: 1.4rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.7rem;
          }

          span{
            font-size: 1.5rem;
            margin: 1%;
          }

          button{
            font-size: 1.5rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.5rem;
          }

          h3{
            font-size: 1.4rem;
          }

          p{
            font-size: 1.3rem;
          }


          .small-items{

            div{
              span{
                width: 240px;
                font-size: 1.4rem;
              }
            }
          }

          div{
            p{

            }
          }

          .apply-button{
            margin-bottom: 40%;
          }
        }
      }
    }
  }


}

/* --------------- Menu Breakpoint of 540px ---------------------*/
@media screen and (max-width: $menuBreakpoint7) {


  .sidebar-section{
    width: 30%;
    margin-top: 38%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: 1rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.5rem;
          }

          span{
            font-size: 1.3rem;
            margin: 1%;
          }

          button{
            font-size: 1.3rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.4rem;
          }

          h3{
            font-size: 1.2rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{

            div{
              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          div{
            p{

            }
          }

          .apply-button{
            margin-bottom: 55%;
          }
        }
      }
    }
  }

    .wetsite-service-section .container .details{
      max-width: 100%;
    }

    .wetsite-service-section .container .button{
      max-width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;

      button{
        width: 200px;
      }
    }


}

/* --------------- Menu Breakpoint of 414px ---------------------*/
@media screen and (max-width: $menuBreakpoint8) {

  .sidebar-section{
    width: 35%;
    margin-top: 50%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: 1rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.5rem;
          }

          span{
            font-size: 1.3rem;
            margin: 1%;
          }

          button{
            font-size: 1.3rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.4rem;
          }

          h3{
            font-size: 1.2rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          .apply-button{
            margin-bottom: 65%;
          }
        }
      }
    }
  }


    .wetsite-service-section .container .details{
      max-width: 100%;
    }

    .wetsite-service-section .container .button{
      max-width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;

      button{
        width: 200px;
      }
    }


}

/* --------------- Menu Breakpoint of 412px ---------------------*/
@media screen and (max-width: $menuBreakpoint9) {

  .sidebar-section{
    width: 30%;
    margin-top: 50%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: 1rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.5rem;
          }

          span{
            font-size: 1.3rem;
            margin: 1%;
          }

          button{
            font-size: 1.3rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.4rem;
          }

          h3{
            font-size: 1.2rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          .apply-button{
            margin-bottom: 65%;
          }
        }
      }
    }
  }


}


/* --------------- Menu Breakpoint of 393px ---------------------*/
@media screen and (max-width: $menuBreakpoint10) {

  .sidebar-section{
    width: 40%;
    margin-top: 65%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: .8rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.3rem;
          }

          span{
            font-size: 1.2rem;
            margin: 1%;
          }

          button{
            font-size: 1rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.1rem;
          }

          h3{
            font-size: .9rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          .apply-button{
            margin-bottom: 75%;
          }
        }
      }
    }
  }


}

/* --------------- Menu Breakpoint of 390px ---------------------*/
@media screen and (max-width: $menuBreakpoint11) {


  .sidebar-section{
    width: 40%;
    margin-top: 52%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: .8rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.3rem;
          }

          span{
            font-size: 1.2rem;
            margin: 1%;
          }

          button{
            font-size: 1rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.1rem;
          }

          h3{
            font-size: .9rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          .apply-button{
            margin-bottom: 75%;
          }
        }
      }
    }
  }


}

/* --------------- Menu Breakpoint of 375px ---------------------*/

@media screen and (max-width: $menuBreakpoint12) {



}

/* --------------- Menu Breakpoint of 360px ---------------------*/

@media screen and (max-width: $menuBreakpoint13) {

  .sidebar-section{
    width: 40%;
    margin-top: 65%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;

            button{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1.1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.3rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.4rem;
              }

              .location{
                font-size: 1rem;
              }

              .periods{

                #period{
                  font-size: .8rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.3rem;
          }

          span{
            font-size: 1.2rem;
            margin: 1%;
          }

          button{
            font-size: 1rem;
          }
        }

        .job-informations{

          h2{
            font-size: 1.1rem;
          }

          h3{
            font-size: .9rem;
          }

          p{
            font-size: 1rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: 1rem;
              }
            }
          }

          .apply-button{
            margin-bottom: 75%;
          }
        }
      }
    }
  }


  .wetsite-service-section .container .details{
    max-width: 100%;
  }

  .wetsite-service-section .container .button{
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    button{
      width: 200px;
    }
  }

}


/* --------------- Menu Breakpoint of 280px ---------------------*/

@media screen and (max-width: $menuBreakpoint14) {

  .sidebar-section{
    width: 50%;
    margin-top: 90%;

    .container{

      .menu{
        button{
          font-size: .8rem;
        }
      }
    }
  }


  .form-section{
    margin-top: 25%;

    .box-card{

      .form{
        width: 80%;
        align-items: center;
        justify-content: center;

        form{
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .input-key-word, .input-city, .buttons{
            width: 80%;
          }

          .input-key-word{
            font-size: 1rem;
            input{
              font-size: 1rem;
            }
          }

          .input-city{
            font-size: 1rem;
            text-align: center;
            align-items: center;

            input{
              font-size: 1rem;
            }
          }


          .buttons{
            margin-top: 1%;
            margin-bottom: 1%;
            border-radius: 2rem;
            text-align: center;
            align-items: center;

            button{
              font-size: .8rem;
            }
          }
        }
      }
    }
  }



  .jobs-section{
    background-color: transparent;

    .box-card{
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .latest-jobs{
        width: 55%;
        margin-top: 3%;

        .header{
          h2{
            font-size: 1rem;
          }
        }

        .box{
          .card{

            .title{
              h1,i{
                font-size: 1.1rem;
              }
            }

            .card-content{

              .company-name{
                font-size: 1.2rem;
              }

              .location{
                font-size: .8rem;
              }

              .periods{

                #period{
                  font-size: .7rem;
                }
              }
            }
          }
        }

      }

      .job-detail{

        .title{

          h1{
            font-size: 1.1rem;
          }

          span{
            font-size: 1rem;
            margin: 1%;
          }

          button{
            width: 150px;
            font-size: .9rem;
          }
        }

        .job-informations{

          h2{
            font-size: .9rem;
          }

          h3{
            font-size: .8rem;
          }

          p{
            font-size: .7rem;
          }


          .small-items{
            div{
              flex-direction: column;

              span{
                width: 240px;
                font-size: .8rem;
              }
            }
          }

          .apply-button{

            margin-bottom: 100%;

            button{
              width: 100px;
              font-size: .8rem;
            }
          }
        }
      }
    }
  }

  .wetsite-service-section .container .details{
    max-width: 100%;
  }

  .wetsite-service-section .container .button{
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

    button{
      width: 200px;
    }
  }


}

