<app-navbar-welcome></app-navbar-welcome>


  <section [ngClass]="cssSelectors.cHead">

    <header >

      <div [ngClass]="cssSelectors.cHeadBody" >

        <div [ngClass]="cssSelectors.cWelcome">
          <div [ngClass]="cssSelectors.cAnimate">
            <h1><span><span>i</span>NNOVE</span> THE WORLD</h1>
          </div>
          <h2>Invest in Future <span>& Protect Your Generation</span></h2>

          <p> ** Always available to provide you the best service as possible.</p>

          <button [ngClass]="cssSelectors.cBtnlearnmore" >Learn more</button>

        </div>

        <div [ngClass]="cssSelectors.cEditorCard">

          <div [ngClass]="cssSelectors.cEditorBackCard">

            <div [ngClass]="cssSelectors.cEditor" >

              <div [ngClass]="cssSelectors.cEditorTopbar" >
                <h2>We codefy your ideas</h2>
              </div>

              <div [ngClass]="cssSelectors.cEditorBody" >

                <div [ngClass]="cssSelectors.cEditorMainbody" >
                  <div [ngClass]="cssSelectors.cEditorBoxcode" >

                    <span>
                      $: <span id="code"></span>
                    </span>
                  </div>
                </div>

              </div>

            </div>



          </div>
          <h3>Bring your <span>Creativity</span> to Life</h3>
        </div>

      </div>

    </header>


  </section>


  <section class="services-section">

    <div class="box-card">

      <div class="card">
        <div class="title"><span>Customized Applications</span></div>
        <div class="image">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/021/665/887/small/3d-cloud-computing-upload-and-download-data-online-service-with-mobile-phone-mobile-application-for-data-storage-3d-rendering-png.png" alt="" srcset="">
          <p>Share your ideia with our team and get
            the best results for your projects.
          </p>
        </div>
        <div class="buttons">
          <span>We carry about quality because quality is our identity</span>
          <span class="number"><span>1</span></span>
        </div>
      </div>

      <div class="card">
        <div class="title"><span>Professional Courses</span></div>
        <div class="image">
          <img src="../../../assets/img/student-education-graduate-university-icon-png-favpng-LXg6zSMV6TgrpqWgxNPFt9ks6-removebg-preview.png" alt="" srcset="">
          <p>Shoose your preference course, enroll and get a certification
          </p>
        </div>
        <div class="buttons">
          <span>Shape your future with iLED and be a person of success</span>
          <span class="number"><span>2</span></span>
        </div>
      </div>

    </div>

  </section>

  <section [ngClass]="cssSelectors.cTechSection">

    <div [ngClass]="cssSelectors.cTechCont">

      <div [ngClass]="cssSelectors.cTechCard">

        <div [ngClass]="cssSelectors.cTechHead">

          <img [src]="urlPaths.webIcon" alt="">

          <div [ngClass]="cssSelectors.cTechTitle">
            Frontend Technologies
          </div>

        </div>

        <div [ngClass]="cssSelectors.cTechContent">
          <p>
            Inclusivity is crucial. Frontend developers ensure that websites are accessible to everyone, including those with disabilities, by following accessibility guidelines and best practices.
          </p>
        </div>

      </div>

      <div [ngClass]="cssSelectors.cTechCard">

        <div [ngClass]="cssSelectors.cTechHead">

            <img [src]="urlPaths.serverIcon" alt="">

          <div [ngClass]="cssSelectors.cTechTitle">
            Backend  Technologies
          </div>

        </div>

        <div [ngClass]="cssSelectors.cTechContent">
          <p>
            The future is serverless. It allows developers to focus solely on code, abstracting server management, and automatically scaling based on usage.
          </p>
        </div>

      </div>

      <div [ngClass]="cssSelectors.cTechCard">

        <div [ngClass]="cssSelectors.cTechHead">

            <img [src]="urlPaths.databaseIcon" alt="">

          <div [ngClass]="cssSelectors.cTechTitle" >
            Database  Technologies
          </div>

        </div>

        <div [ngClass]="cssSelectors.cTechContent">
          <p>
            Databases are the bedrock of the digital age, shaping the way we manage, access, and make decisions based on data.
          </p>
        </div>

      </div>

      <div [ngClass]="cssSelectors.cTechCard" >

        <div [ngClass]="cssSelectors.cTechHead" >

          <img [src]="urlPaths.cloudIcon" alt="" >

          <div [ngClass]="cssSelectors.cTechTitle" >
            Cloud Computing
          </div>

        </div>

        <div [ngClass]="cssSelectors.cTechContent" >
          <p>
            Study all about scalable infrastructure and services that backend developers use to deploy, host, and manage applications, reducing operational overhead.
          </p>
        </div>

      </div>

    </div>

  </section>

  <article [ngClass]="cssSelectors.cCourSection">

    <div [ngClass]="cssSelectors.cCourCardB">

      <h2>WEB DEVELOPMENT!!</h2>
      <!------ Card starts -->
      <div [ngClass]="cssSelectors.cCourContent" >

        <div [ngClass]="cssSelectors.cCourTitle">

          <h3>Create a <span>Website to </span>your company</h3>
          <h3>& Create an <span> Application to</span></h3>
          <h3> your Company/Business</h3>

          <div [ngClass]="cssSelectors.cCourItems">
            <span><i class="fa-regular fa-circle-check"></i> Shape your ideia, get a briliant product</span>
            <span><i class="fa-regular fa-circle-check"></i> Manage your time and projects</span>
            <span><i class="fa-regular fa-circle-check"></i> Get controll of goals, stay focuse</span>
            <span><i class="fa-regular fa-circle-check"></i> Shape your ideia, get a briliant product</span>
          </div>

        </div>

        <div [ngClass]="cssSelectors.cCourBox">
          <div class="flutuant-text">
            <h2> <i class="fa-solid fa-code"></i> HTML</h2>
            <h2> <i class="fa-brands fa-css3-alt"></i> CSS</h2>
          </div>
          <div class="bar">
            <span id="code-02">
            </span>
          </div>
        </div>

        <button class="btn-job">Learn more <i class="fa-solid fa-arrow-right"></i> </button>

      </div>
      <!------ Card ends -->


    </div>

    <div [ngClass]="cssSelectors.cCourCardB" >

      <h2>IT * COURSES!!</h2>
      <!------ Card starts -->
      <div class="box">

       <div class="container">

        <div class="side-line">

          <span>
            <i class="fa-solid fa-laptop-code fa-2x"></i>
          </span>

          <mat-divider></mat-divider>
          <button *ngFor="let item of courses" (click)="showCourse(item)" [ngClass]="item">
            <i [ngClass]="item.icon"></i>
          </button>

        </div>

        <div class="body">

          <div class="top-bar">
            <div id="text">
              <h3>Select your preference course</h3>
            </div>
          </div>

          <div class="main">

            <div class="card-course" *ngFor="let item of courses" >

              <div class="box" *ngIf="isCourse === item.selectorId">

                <div>
                  <h2 [ngClass]="item.selectors[0]" >{{ item.name }}</h2>
                  <span [ngClass]="item.selectors[1]" *ngFor="let item2 of spliteText(item.details ? item.details : '' )">
                    <i class="fa-solid fa-check"></i> {{ item2 }}
                  </span>

                </div>

                <button class="btn-enroll">Enroll</button>

              </div>

            </div>

          </div>

        </div>

       </div>

      </div>


    </div>

  </article>


  <section class="job-section">

    <div class="container">

      <div class="box-image">
        <img src="https://d31bgfoj87qaaj.cloudfront.net/blog/wp-content/uploads/2022/09/Top-10-Highest-Paying-Jobs-in-India-03.jpg" alt="">
      </div>

      <div class="box">

        <h2>Job Opportunities</h2>

        <div>
          <h3><span>Find</span> Job and Vacancy</h3>
          <p>
            Want to get the best career of the market? Enroll in one
            of  our IT  courses and get opportunities of  job with partners.
            Explore all the job offers you can find in  our platform by click at button below.
          </p>
          <button class="btn-job">Find now <i class="fa-solid fa-arrow-right"></i> </button>
        </div>

      </div>

    </div>

  </section>

  <section class="website-service-section">

    <div class="container">
      <div class="details">
        <h2>Create your <span>Own Website</span></h2>
        <h2>Or <span>Application</span> with  us</h2>
        <span>Transform your  intections in actions.</span>
        <p>Shape your ideias with the iLED's team. Grow up with us and improve your business</p>
      </div>
      <div class="button">
        <button class="btn-request">Request service <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

  </section>

  <!--<section class="youtube-section">

    <div class="container">

      <div class="box-video">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
      </div>

    </div>

  </section>-->

  <app-footer></app-footer>
